<div class="container hidden-xs">
  <div class="text-center padded">
    <% if user_signed_in? %>
      <h1>Les Nuanceurs et Moi</h1>
      <p>Comparez vos affinités politiques avec les autres Nuanceurs par thématique</p>
    <% else %>
      <h1>Les Nuanceurs</h1>
      <p>Découvrez les affinités politiques des Nuanceurs par thématiques</p>
    <% end %>
  </div>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-6 col-md-4 flex-center">
        <% if user_signed_in? %>
          <%= render 'users/user_card', user: user, comparison: user.id %>
        <% else %>
          <%= render 'users/user_card', user: user, comparison: 'all' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="user-card-container-xs hidden-sm hidden-md hidden-lg">
  <% @users.each do |user| %>
    <% if user_signed_in? %>
      <%= render 'users/user_card', user: user, comparison: user.id %>
    <% else %>
      <%= render 'users/user_card', user: user, comparison: 'all' %>
    <% end %>
  <% end %>
</div>
