<div class="home-banner flex-center">
  <div class="home-banner-text text-center">
    <h1>Nuances</h1>
    <p>Construire, comprendre et comparer son positionnement politique pour ouvrir une nouvelle fenêtre sur le débat et l’engagement</p>
  </div>
</div>

<div class="home-item home-item-polygonal bg-light-blue">
  <div class="container">
    <h2>Le projet</h2>
    <p>La multiplication des courants et des chapelles plus ou moins réduites au sein des partis ou familles politiques traditionnelles tend à brouiller la perception que chacun a du positionnement du personnel politique et de son propre positionnement sur l’échiquier politique. Nuances, c’est repartir de l’individu pour lui permettre de déterminer ses propres convictions avant de découvrir comment elles se situent par rapport aux autres.</p>
    <p>La crise de la démocratie représentative n’est pas récente, mais elle revêt aujourd’hui une signification toute nouvelle face à la démocratisation d’un nouveau rapport à l’espace public à travers l’usage du web. Les valeurs de liberté et d’égalité a priori, portées par les pionniers d’internet, doivent et peuvent aujourd’hui être associées à la massification des usages pour permettre la construction d’une nouvelle façon d’envisager la décision et le débat politique à l’échelle de populations diverses tant en nombre qu’en hétérogénéité. Il y a donc un double enjeu à la participation à des projets comme Open Democracy Now : penser la démocratie dans un contexte numérique et penser les caractéristiques du numérique dans un contexte d’hétérogénéité sociale.</p>
  </div>
</div>
