$navbar-height: 60px;

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
  height: $navbar-height;
  width: 100%;
  background: rgb(253,253,253);
  box-shadow: 0 0 5px 0.1px $brand-gray;
  transition: all 0.3s ease;
  a:hover { text-decoration: none }
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  &-title {
    flex: 0 1 auto;
    font-family: $header-font;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 0px;
    position: relative;
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 10px;
      top: 25px;
      left: 3px;
      background-color: rgba(9,12,155,0.2);
      border-radius: 1px;
    }
  }
  &-elements {
    flex: 1 1 0;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  a { color: $brand-color }
  &-item {
    display: block;
    padding: 7px 10px;
    margin: 0 5px;
    cursor: pointer;
    color: $brand-color;
    transition: color 0.3s ease;
    &:hover {
      color: rgba(9,12,155,0.8);
      background: rgba(9,12,155,0.01);
      transition: all 0.3s ease;
    }
    &-bordered {
      border: 0.5px solid $brand-color;
      border-radius: 1px;
      &:hover { border-color: rgba(9,12,155,0.8) }
    }
    &-inverted {
      color: white !important;
      background-color: $brand-color;
      &:hover { background-color: rgba(9,12,155,0.9); transition: all 0.3s ease }
    }
  }
  &-dropdown {
    position: relative;
    font-size: 30px;
    &-menu {
      position: absolute;
      display: none;
      right: -21px;
      width: 50vw;
      max-width: 200px;
      padding: 10px 0;
      font-size: 18px;
      line-height: 45px;
      background-color: rgb(253,253,253);
      animation-name: navbar-dropdown-menu;
      animation-duration: 0.25s;
      animation-timing-function: ease-out;
      transform-origin: 50% 0%;
      flex-direction: column;
      &-item {
        margin: 0;
        &:hover {
          color: $gray-dark;
          transition: color 0.3s ease;
        }
      }
      hr { margin: 5px; height: 1px; background-color: lighten($brand-gray, 90%) }
    }
    &:hover > .navbar-dropdown-menu { display: flex }
  }
  &-photo { border-radius: 50%; border: 1.5px solid rgba(255,255,255,0.7) }
}

@keyframes navbar-dropdown-menu {
  0% { transform: scaleY(0.1) }
  100% { transform: scaleY(1) }
}
