.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  height: 65px;
  width: 100%;
  transition: all 0.3s ease;
  background: $brand-color;
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  a {
    color: white;
    &:hover {
      background-color: rgba(250,250,250,0.3);
      text-decoration: none;
    }
  }
  &-title {
    font-family: $header-font;
    flex: 0 1 auto;
    font-weight: 900;
    font-size: 30px;
  }
  &-elements {
    flex: 1 1 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-item {
    display: block;
    padding: 0 10px;
    margin: 0 20px;
    line-height: 60px;
    border-bottom: 0.5px solid rgba(250,250,250,0.7);
  }
}
