/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.marged-top { margin-top: 100px }

// Backgrounds
.bg-full {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  &-cover {
    background-size: cover;
    background-position: center;
  }
}

.bg-black {
  background: #4a4a4a;
  color: white;
}
.bg-grey {
  background: $brand-gray;
  color: white;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-light-blue {
  background: $light-blue;
  color: white;
}
.bg-dark-blue {
  background: $brand-color;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}

// Positions
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
