/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: $brand-gray;
}
.bg-red {
  background: $red;
}
.bg-blue {
  background: $blue;
}
.bg-light-blue {
  background: $light-blue;
}
.bg-dark-blue {
  background: $brand-color;
}
.bg-green {
  background: $green;
}
