.all-form {
  &-content {
    width: 90vw;
    max-width: 800px;
    margin-bottom: 50px;
    &-sm { max-width: 400px }
    textarea { min-height: 150px }
    h1 { font-weight: 900; margin-bottom: 0.5em }
    &-bg {
      padding: 40px 100px;
      border-radius: 2px;
      background-color: rgba(250,250,250,0.7);
    }
  }
  &-layout {
    &-login { background-image: url(banner) }
    &-new { background-image: url(linedpaper) }
  }
  &-reminder { margin-bottom: 1em }
  &-no-border {
    margin: 40px 10vw 20px 10vw;
    .form-group { margin: 0 5px }
    .form-inputs { flex: 1 0 300px }
    .form-actions { flex: 0 0 auto }
    .form-control {
      background-color: $yellow;
      border: 1px solid rgba(0,0,0,0);
      box-shadow: none;
      border-radius: 2px;
      font-weight: 100;
      transition: border 0.3s ease;
      margin: 10px 0;
      &:focus {
        border-bottom: 1px solid $brand-gray;
        border-left: 1px solid rgba(0,0,0,0) !important;
      }
      &:hover { background-color: rgba(81, 148, 236, 0.1) }
    }
    .btn {
      background-color: $yellow;
      border: none;
      border-bottom: 1px solid $brand-gray;
      font-weight: 100;
      &:hover { background-color: rgba(81, 148, 236, 0.1) }
    }
  }
  &-border-left { border-left: 1px solid $brand-gray !important }
}
