.query {
  &-banner-index { background-image: url(notebook) }
  &-container {
    display: flex;
    align-items: center;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    padding: 0 10px;
    hr {
      height: 30px;
      width: 0;
      border-right: 1px solid $brand-gray;
      margin: 0 10px;
    }
    &:hover { background-color: rgba(81, 148, 236, 0.1) }
  }
  &-item {
    padding: 10px 5px;
  }
  &-id {
    flex: 0 0 40px;
    text-align: right;
    font-family: "Open Sans";
    font-size: 26px;
  }
  &-content {
    flex: 1 1 auto;
    font-size: 16px;
  }
  &-description {
    flex: 6 1 auto;
    font-size: 14px;
  }
  &-link {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    a { color: $gray-dark }
    #delete:hover { color: $red }
    #edit:hover { color: $blue }
  }
}
