<div class="container marged-top">

  <div class="container">
    <% @queries.each do |query| %>
      <div class="query-container">
        <div class="query-item query-id">
          <%= query.id %>
        </div>
        <hr>
        <div class="query-item query-content">
          <%= query.content %>
        </div>
        <hr>
        <div class="query-item query-description">
          <%= query.description %>
        </div>
        <hr>
        <div class="query-item query-link">
          <%= link_to query_path(query), method: :delete do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
